<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Explore</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #333;
        background-image: url('/blog_page/public/images/myblog logo.png');
        background-size: 150% 150%;: wave 10 s ease-in-out infinite alternate;
        background-color: black; /* Цвет фона с прозрачностью */

    }
    .img--{
        width: 1995px;
        height: 10px;
    }
    #image {
        width: 50px;
    }
    a {
        text-decoration: none;
        color: white;
    }
    #input {
        background-color: gray;
        color: white;
        border-radius: 10px;
    }
    .div {
        width: 2000px;
    }

    #divimg {
        width: 100px;
        height: 100px;
    }
    input {
        background-color: gray;
        color: white;
        border-radius: 10px;
    }
</style>
<body>
<div class="div">
    <h2>MY BLOG</h2>
    <img id="divimg" src="/images/myblog logo.png">
</div>

<div>
    <h2>search profiles</h2>
    <input type="text">
    <img id="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT75SELy7I8F_vR2KQwSl9kI92TgoGW26UtSA&usqp=CAU">
</div>
<br>
<br>
<div class="img--">
    <img id="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ72VjZ_UzFGGxhk21fli70_amvq289a0ni4DQYynBhkR1_DHFRazVfU-HE5AHFCqM2LGI&usqp=CAU">
    <a href="/home">Home</a>
    <br>
    <br>
    <img id="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPq_g8GxYJ20m_yIDaZRw6jq8NxMjZPY154w&usqp=CAU">
    <a href="/">Log out</a>
    <br>
    <br>
    <img id="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT75SELy7I8F_vR2KQwSl9kI92TgoGW26UtSA&usqp=CAU">
    <a href="/explore">Explore</a>
    <br>
    <br>
    <img id="image" src="https://e7.pngegg.com/pngimages/782/114/png-clipart-profile-icon-circled-user-icon-icons-logos-emojis-users-thumbnail.png">
    <a>Profile</a>
    <br>
    <br>
    <img id="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThQfu8CA3gFczdcAmsk2iCVL7RYCctfM4-0dlJsvyIMv5l9odxhGrn0gNCYjjo7_VKau8&usqp=CAU">
    <a>Chat</a>
</div>

</body>
</html>