<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: black;
        }

        .form-container {
            width: 300px;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            color: orange;
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="password"],
        button {
            width: 100%;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            font-size: 16px;
        }

        button {
            border: none;
            background-color: orange;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: orange;
        }
    </style>
</head>
<body>
<div class="form-container">
    <h2>Регистрация</h2>
    <form id="signupForm">
        <div class="form-group">
            <label for="newUsername">Имя пользователя:</label>
            <input type="text" id="newUsername" name="newUsername" required>
        </div>
        <div class="form-group">
            <label for="newPassword">Пароль:</label>
            <input type="password" id="newPassword" name="newPassword" required>
        </div>
        <div class="form-group">
            <button type="submit">Зарегистрироваться</button>
        </div>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const signupForm = document.getElementById('signupForm');
        signupForm.addEventListener('submit', function(event) {
            event.preventDefault(); // Предотвращаем отправку формы (пока не реализовано)
            // Добавьте здесь код для отправки данных на сервер и обработки регистрации нового пользователя
        });
    });
</script>
</body>
</html>
